body{
  margin:0;
  font-family:Arial;
  background:#FAFAF9;
}

.navbar{
  display:flex;
  justify-content:space-between;
  padding:20px 40px;
  background:white;
  box-shadow:0 2px 10px rgba(0,0,0,.05);
}

.logo{
  font-size:24px;
  font-weight:bold;
  color:#D4AF37;
}

.hero{
  height:250px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#0F172A;
  color:white;
  text-align:center;
}

.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  padding:40px;
}

.card{
  background:white;
  padding:20px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 4px 10px rgba(0,0,0,.05);
}

button{
  background:#D4AF37;
  border:none;
  padding:10px 20px;
  color:white;
  border-radius:10px;
  cursor:pointer;
}

.checkout{
  max-width:400px;
  margin:40px auto;
  display:flex;
  flex-direction:column;
  gap:15px;
}

input,select{
  padding:12px;
  border-radius:8px;
  border:1px solid #ccc;
}
